/* Def Table
   ========================================================================== */
.bl_defTableUnit {
  @include lastMB0();
}

.bl_defTable {
  $that: #{&};
  display: table;
  width: 100%;
  margin-bottom: autoSpace(19);
  padding-bottom: autoSpace(18);
  border-bottom: 1px dotted $borderColor;

  dt {
    position: relative;
    display: table-cell;
    width: 130px;
    padding-right: $contSpaceValue * 2 + px;
    padding-left: $contSpaceValue * 2 + px;
    font-weight: $fw__bold;
    word-break: break-word;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 90%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      background-color: $borderColor;
    }
  }

  dd {
    display: table-cell;
    padding-right: $contSpaceValue * 2 + px;
    padding-left: $contSpaceValue * 2 + px;
  }

  &#{$that}__pareto{
    dt{
      width: 40%;
      vertical-align: middle;
      text-align: right;
    }
    dd{
      width: 60%;
      vertical-align: middle;
    }
  }
}
