.bl_sect{
  padding-top: $sectSpace;
  padding-bottom: $sectSpace;
  @include MQ(md){
    padding-top: $sp_sectSpace;
    padding-bottom: $sp_sectSpace;
  }
}

.bl_sect02{
  @include lastMB0();
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid $horizLIneColor;

  @include MQ(md){
    padding-top: 50px;
    padding-bottom: 45px;
  }
}

.bl_sect03{
  @include lastMB0();
  padding-top: 60px;
  padding-bottom: 50px;

  @include MQ(md){
    padding-top: 40px;
  }
}
