/* Title
   ========================================================================== */
.el_pageTtl {
  $wrp: '.el_pageTtl';

  margin-top: - halfLineHeight($fz__h1);
  //margin-bottom: autoSpace(0, $fz__h1);
  font-size: $fz__h1;
  font-weight: $fw__bold;
  text-align: center;

  @include MQ(md) {
    //margin-bottom: sp_autoSpace(0, $sp_fz__h1);
    font-size: $sp_fz__h1;
  }
}

.el_sectTtl {
  $wrp: '.el_sectTtl';

  margin-top: - halfLineHeight($fz__h2);
  //margin-bottom: autoSpace(0, $fz__h2);
  font-size: $fz__h2;
  font-weight: $fw__bold;
  text-align: center;

  @include MQ(md) {
    //margin-bottom: sp_autoSpace(0, $sp_fz__h2);
    font-size: $sp_fz__h2;
  }
}

.el_subTtl {
  //margin-bottom: autoSpace(0, $fz__h3);
  font-size: $fz__h3;
  text-align: center;
}


/* Text
   ========================================================================== */
.el_emphaTxt {
  //margin-bottom: autoSpace(0, $fz__ll);
  font-size: $fz__ll;
  font-weight: $fw__bold;
  text-align: center;

  @include MQ(md) {
    font-size: $sp_fz;
  }
}

.el_note {
  font-size: $fz__ss;

  @include MQ(md) {
    font-size: $sp_fz;
  }
}


/* Button
   ========================================================================== */
.el_btn {
  $wrp: '.el_btn';

  position: relative;
  display: inline-block;
  width: 271px;
  padding: totalPadHeight(45, $fz) 40px totalPadHeight(48, $fz);
  //margin-bottom: autoSpace(0);
  border: 1px solid $accentColor;
  border-radius: 60px;
  color: $accentColor;
  font-size: $fz;
  text-align: center;
  vertical-align: middle;

  @include MQ(md) {
    width: 95%;
    //margin-bottom: sp_autoSpace(0);
  }
  @include FHA() {
    background-color: $themeColor;
    color: #fff;
    text-decoration: none;
  }

  &:after {
    content: '\f054';
    position: absolute;
    top: 50%;
    right: 15px;
    font-family: 'FontAwesome';
    font-size: 1.25em;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}


/* Label
   ========================================================================== */
.el_label {
  $wrp: '.el_label';

  display: inline-block;
  padding: 2px 7px;
  background-color: $themeColor;
  color: #fff;
  font-size: $fz__s;
  letter-spacing: normal;
  text-align: center;

  @include MQ(md) {
    font-size: $sp_fz__ss;
  }
}




/* Icon
   ========================================================================== */
.el_icon {
  $wrp: '.el_icon';

  position: relative;
  padding-left: 1.3em;
  &:before {
    position: absolute;
    top: -.1em;
    left: 0;
    display: block;
    font-size: 1em;
  }

  &#{$wrp}__pdf {
    &:before {
      content: '\f1c1';
      font-family: 'FontAwesome';
    }
  }
}

.el_icon02 {
  $wrp: '.el_icon02';

  position: relative;
  padding-right: 1.6em;
  &:after {
    position: absolute;
    right: 0;
    bottom: -.2em;
    display: block;
    font-size: 1em;
  }

  &#{$wrp}__blank {
    &:after {
      content: '\f2d2';
      font-family: 'FontAwesome';
    }
  }
}


/* Link
   ========================================================================== */
.el_pageTop {
  display: block;
  width: 40px;
  height: 40px;

  @include FHA {
    text-decoration: none;
  }
}



/* Form
   ========================================================================== */
