/* Grid System
   ========================================================================== */
.gr_wrapper {
  $wrp: '.gr_wrapper';


  // カスタマイズ可能変数
  // -------------------------------------------------------------------
  $gutterValues:(
    xNarrow:(
      lg: 20,
      md: 10,
      sm: 5
    ),
    narrow:(
      lg: 40,
      md: 20,
      sm: 10
    ),
    default:(
      lg: 60,
      md: 40,
      sm: 20
    ),
    wide:(
      lg: 80,
      md: 60,
      sm: 30
    ),
    xWide:(
      lg: 100,
      md: 80,
      sm: 40
    )
  );
  $horizPercentageGutter: true;
  $vertPercentageGutter: true;
  $maxColumnNum: 6;
  $layoutStyle: 'inline-table'; //float or inline-table or inline-block or flex(flex is beta)


  // pxと%の切り替え
  // -------------------------------------------------------------------
  @if $horizPercentageGutter{
    $horizLgGtr: percentToCont(map-get(map-get($gutterValues, default), lg)) !global;
    $horizMdGtr: percentToCont(map-get(map-get($gutterValues, default), md), $breakpoint-md) !global;
    $horizSmGtr: percentToCont(map-get(map-get($gutterValues, default), sm), $breakpoint-sm) !global;
  } @else {
    $horizLgGtr: map-get(map-get($gutterValues, default), lg) !global;
    $horizMdGtr: map-get(map-get($gutterValues, default), md) !global;
    $horizSmGtr: map-get(map-get($gutterValues, default), sm) !global;
  }
  @if $vertPercentageGutter{
    $vertLgGtr: percentToCont(map-get(map-get($gutterValues, default), lg)) !global;
    $vertMdGtr: percentToCont(map-get(map-get($gutterValues, default), md), $breakpoint-md) !global;
    $vertSmGtr: percentToCont(map-get(map-get($gutterValues, default), sm), $breakpoint-sm) !global;
  } @else {
    $vertLgGtr: map-get(map-get($gutterValues, default), lg) !global;
    $vertMdGtr: map-get(map-get($gutterValues, default), md) !global;
    $vertSmGtr: map-get(map-get($gutterValues, default), sm) !global;
  }


  // 独自mixin
  // -------------------------------------------------------------------
  @mixin column-mq-loop($horizLgGtr, $horizSmGtr){
    @for $i from 2 through $maxColumnNum{
      &#{$wrp}__col#{$i}{
        .gr_col{
          @include childCol($i, $horizLgGtr);
        }

        @for $j from 2 through $maxColumnNum{
          &#{$wrp}__tbCol#{$j}{
            @include MQ(md){
              .gr_col{
                @include childCol($j, $horizSmGtr, false);
                margin-right: addPxUnit($horizSmGtr);
              }
            }

            @for $k from 2 through $maxColumnNum{
              &#{$wrp}__spCol#{$k}{
                @include MQ(sm){
                  .gr_col{
                    @include childCol($k, $horizSmGtr, false);
                    margin-right: addPxUnit($horizSmGtr);
                  }
                }
              }
            }
          }

          &#{$wrp}__spCol#{$j}{
            @include MQ(sm){
              .gr_col{
                @include childCol($j, $horizSmGtr, false);
                margin-right: addPxUnit($horizSmGtr);
              }
            }
          }
        }
      }
    }
  }

  @mixin gr_col($vertLgGtr, $horizLgGtr, $vertSmGtr, $horizSmGtr){
    .gr_col{
      margin-top: addPxUnit($vertLgGtr);
      margin-right: addPxUnit($horizLgGtr);
      @include MQ(sm){
        margin-top: addPxUnit($vertSmGtr);
        margin-right: addPxUnit($horizSmGtr);
      }
    }
  }


  // スタイル適用
  // -------------------------------------------------------------------
  margin-top: - addPxUnit($vertLgGtr);

  @if $layoutStyle == 'float' {
    @include chilidCol__float();
  } @else if $layoutStyle == 'inline-table'{
    @include chilidCol__inline(inline-table);
  } @else if $layoutStyle == 'inline-block'{
    @include chilidCol__inline(inline-block);
  } @else if $layoutStyle == 'flex'{
    @include flex();
  }

  @include gr_col($vertLgGtr, $horizLgGtr, $vertSmGtr, $horizSmGtr);
  @include column-mq-loop($horizLgGtr, $horizSmGtr);


  // default以外のgutterのモディファイア実装
  // -------------------------------------------------------------------
  @each $size, $viewports in $gutterValues{
    @if $size != 'default'{
      @if $horizPercentageGutter{
        $thisHorizLgGtr: percentToCont(map-get(map-get($gutterValues, #{$size}), lg)) !global;
        $thisHorizSmGtr: percentToCont(map-get(map-get($gutterValues, #{$size}), sm), $breakpoint-sm) !global;
      } @else {
        $thisHorizLgGtr: map-get(map-get($gutterValues, #{$size}), lg) !global;
        $thisHorizSmGtr: map-get(map-get($gutterValues, #{$size}), sm) !global;
      }
      @if $vertPercentageGutter{
        $thisVertLgGtr: percentToCont(map-get(map-get($gutterValues, #{$size}), lg)) !global;
        $thisVertSmGtr: percentToCont(map-get(map-get($gutterValues, #{$size}), sm), $breakpoint-sm) !global;
      } @else {
        $thisVertLgGtr: map-get(map-get($gutterValues, #{$size}), lg) !global;
        $thisVertSmGtr: map-get(map-get($gutterValues, #{$size}), sm) !global;
      }

      &#{$wrp}__#{$size}{
        margin-top: -#{addPxUnit($thisVertLgGtr)};
        @include MQ(sm){
          margin-top: -#{addPxUnit($thisVertSmGtr)};
        }

        @include gr_col($thisVertLgGtr, $thisHorizLgGtr, $thisVertSmGtr, $thisHorizSmGtr);
        @include column-mq-loop($thisHorizLgGtr, $thisHorizSmGtr);
      }
    }
  }




  // display値変更のモディファイア
  // -------------------------------------------------------------------
  &#{$wrp}__float{
    @include chilidCol__float();
  }

  &#{$wrp}__inlineTable{
    @include chilidCol__inline(inline-table, true);
  }

  &#{$wrp}__inlineBlock{
    @include chilidCol__inline(inline-block, true);
  }

  &#{$wrp}__flex{
    @include flex();
  }
}
