/* Grid System
   ========================================================================== */
.gr_wrapper {
  $wrp: '.gr_wrapper';
  $gutterValues:(
    xNarrow:(
      pc: 10,
      sp: 5
    ),
    narrow:(
      pc: 20,
      sp: 10
    ),
    default:(
      pc: 40,
      sp: 20
    ),
    wide:(
      pc: 60,
      sp: 30
    ),
    xWide:(
      pc: 80,
      sp: 40
    )
  );
  $horizPercentageGutter: true;
  $vertPercentageGutter: true;
  $maxColumnNum: 12;
  $layoutStyle: 'float'; //inline-table or inline-table or float or flex(flex is alpha)

  @if $horizPercentageGutter{
    $horizGutter: percentToCont(map-get(map-get($gutterValues, default), pc)) !global;
    $horizSpGutter: percentToCont(map-get(map-get($gutterValues, default), sp), $breakpoint) !global;
  } @else {
    $horizGutter: map-get(map-get($gutterValues, default), pc) !global;
    $horizSpGutter: map-get(map-get($gutterValues, default), sp) !global;
  }
  @if $vertPercentageGutter{
    $vertGutter: percentToCont(map-get(map-get($gutterValues, default), pc)) !global;
    $vertSpGutter: percentToCont(map-get(map-get($gutterValues, default), sp), $breakpoint) !global;
  } @else {
    $vertGutter: map-get(map-get($gutterValues, default), pc) !global;
    $vertSpGutter: map-get(map-get($gutterValues, default), sp) !global;
  }

  margin-top: - addPxUnit($vertGutter);

  @if $layoutStyle != 'flex'{
    @if $layoutStyle == 'float' {
      @include chilidCol__float();
    } @else if $layoutStyle == 'inline-table'{
      @include chilidCol__inline(inline-table);
    } @else if $layoutStyle == 'inline-block'{
      @include chilidCol__inline(inline-block);
    }

    &#{$wrp}__inlineTable{
      @include chilidCol__inline(inline-table, true);
    }

    &#{$wrp}__inlineBlock{
      @include chilidCol__inline(inline-block, true);
    }

    &#{$wrp}__float{
      @include chilidCol__float();
    }

    .gr_col{
      margin-top: addPxUnit($vertGutter);
      margin-right: addPxUnit($horizGutter);
      @include MQ(md){
        margin-top: addPxUnit($vertSpGutter);
        margin-right: addPxUnit($horizSpGutter);
      }
    }

    @for $i from 2 through $maxColumnNum{
      &#{$wrp}__col#{$i}{
        .gr_col{
          @include childCol($i, $horizGutter);
        }

        @for $j from 2 through $maxColumnNum{
          &#{$wrp}__spCol#{$j}{
            @include MQ(md){
              .gr_col{
                @include childCol($j, $horizSpGutter, false);
                margin-right: addPxUnit($horizSpGutter);
              }
            }
          }
        }
      }
    }
  } @else {
    //flex is alpha
    display: flex;
    flex-flow: row wrap; //nowrap
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;

    .gr_col{
      width: 100px;
      margin-right: 20px;
      margin-top: 20px;
      flex: 1 1 150px;
    }
  }

  // defaul以外のgutterのモディファイア実装
  // -------------------------------------------------------------------
  @each $size, $viewports in $gutterValues{
    @if $size != 'default'{
      @if $horizPercentageGutter{
        $thisHorizPc: percentToCont(map-get(map-get($gutterValues, #{$size}), pc)) !global;
        $thisHorizSp: percentToCont(map-get(map-get($gutterValues, #{$size}), sp)) !global;
      } @else {
        $thisHorizPc: map-get(map-get($gutterValues, #{$size}), pc) !global;
        $thisHorizSp: map-get(map-get($gutterValues, #{$size}), sp) !global;
      }
      @if $vertPercentageGutter{
        $thisVertPc: percentToCont(map-get(map-get($gutterValues, #{$size}), pc)) !global;
        $thisVertSp: percentToCont(map-get(map-get($gutterValues, #{$size}), sp)) !global;
      } @else {
        $thisVertPc: map-get(map-get($gutterValues, #{$size}), pc) !global;
        $thisVertSp: map-get(map-get($gutterValues, #{$size}), sp) !global;
      }

      &#{$wrp}__#{$size}{
        margin-top: -#{addPxUnit($thisVertPc)};
        @include MQ(md){
          margin-top: -#{addPxUnit($thisVertSp)};
        }

        .gr_col{
          width: 80%;
          margin-top: addPxUnit($thisVertPc);
          margin-right: addPxUnit($thisHorizPc);
          @include MQ(md){
            margin-top: addPxUnit($thisVertSp);
            margin-right: addPxUnit($thisHorizSp);
          }
        }

        @for $i from 2 through $maxColumnNum{
          &#{$wrp}__col#{$i}{
            .gr_col{
              @include childCol($i, $thisHorizPc);
            }

            @for $j from 2 through $maxColumnNum{
              &#{$wrp}__spCol#{$j}{
                @include MQ(md){
                  .gr_col{
                    @include childCol($j, $thisHorizSp, false);
                    margin-right: addPxUnit($thisHorizSp);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
