@font-face {
  font-family: 'icomoon';
  src:
    url('#{$assetsRoot}/fonts/icomoon.ttf?fiwy7w') format('truetype'),
    url('#{$assetsRoot}/fonts/icomoon.woff?fiwy7w') format('woff'),
    url('#{$assetsRoot}/fonts/icomoon.svg?fiwy7w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
  color: $themeColor;
}
.icon-chevron-right:before {
  content: "\e901";
  color: $themeColor;
}
.icon-close:before {
  content: "\e902";
  color: $themeColor;
}
.icon-hamb:before {
  content: "\e903";
  color: $themeColor;
}
.icon-pin:before {
  content: "\e904";
  color: $themeColor;
}
.icon-search:before {
  content: "\e905";
  color: $themeColor;
}
.icon-tel:before {
  content: "\e906";
  color: $themeColor;
}
