/* Header
   ========================================================================== */
.ly_header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: #fff;

  &_inner {
    @include contentCentering();
  }

  a:link {
    color: $txtColor;
  }
}

/* Body
   ========================================================================== */
.ly_body {
  @include contentCentering();
  @include lastMB0();
}

/* Footer
   ========================================================================== */

.ly_footer {
  padding-top: $sectSpace;
  padding-bottom: $sp_sectSpace;

  @include MQ(md) {
    padding-top: $sp_sectSpace;
    padding-bottom: $sp_sectSpace;
  }

  &_inner {
    @include contentCentering();
  }

  a:link {
    color: $txtColor;
  }
}

/* Others
   ========================================================================== */
.ly_pageTop {
  position: fixed;
  z-index: 9999;
  right: 15px;
  bottom: 15px;
  width: 60px;
  height: 60px;

  @include FHA {
    opacity: $hoverOpacity;
  }
  &.is_end {
    opacity: 1;

    @include FHA {
      opacity: $hoverOpacity;
    }
  }
}

a {
  display: block;
  background-color: #ddd!important;
  p {
    margin-bottom: 0;
  }
}


.gr_wrapper {
  $wrp: '.gr_wrapper';
  $gutter: 40;
  $columnNum: 12;
  $layoutStyle: flex; //inline-table or inline-table or float or flex

  margin-top: - percentToCont($gutter);

  @if $layoutStyle != 'flex'{
    @if $layoutStyle == 'float' {
      @include chilidCol__float();
    } @else if $layoutStyle == 'inline-table'{
      @include chilidCol__inline(inline-table);
    } @else if $layoutStyle == 'inline-block'{
      @include chilidCol__inline(inline-block);
    }

    &#{$wrp}__inlineTable{
      @include chilidCol__inline(inline-table, true);
    }

    &#{$wrp}__inlineBlock{
      @include chilidCol__inline(inline-block, true);
    }

    &#{$wrp}__float{
      @include chilidCol__float();
    }

    .gr_col{
      margin-right: percentToCont($gutter);
      margin-top: percentToCont($gutter);
    }

    @for $i from 2 through $columnNum{
      &#{$wrp}__col#{$i}{
        .gr_col{
          @include childCol($i, $gutter);
        }

        @for $j from 2 through $columnNum{
          &#{$wrp}__col#{$i}#{$wrp}__spCol#{$j}{
            @include MQ(md){
              .gr_col{
                @include childCol($j, $gutter, false);
                margin-right: percentToCont($gutter);
              }
            }
          }
        }
      }
    }
  } @else {
    display: flex;
    flex-flow: row wrap; //nowrap
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;

    .gr_col{
      width: 100px;
      margin-right: 20px;
      margin-top: 20px;
      flex: 1 1 150px;
    }
  }
}






.flex {
  $wrp: '.flex';
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;

  &#{$wrp}__modyfierHere{}

  &-child{
    width: 1200px;
    margin: 10px;
  }
}
















