/* Header
   ========================================================================== */
.ly_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;

  &_inner{
    @include contentCentering();
  }

  a:link{
    color: $txtColor;
  }
}

/* Body
   ========================================================================== */
.ly_body{
  @include contentCentering();
  @include lastMB0();
}

/* Footer
   ========================================================================== */

.ly_footer {
  padding-top: $sectSpace;
  padding-bottom: $sp_sectSpace;
  @include MQ(md){
    padding-top: $sp_sectSpace;
    padding-bottom: $sp_sectSpace;
  }

  &_inner{
    @include contentCentering();
  }

  a:link{
    color: $txtColor;
  }
}

/* Others
   ========================================================================== */
.ly_pageTop{
  position: fixed;
  z-index: 9999;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  @include FHA{
    opacity: $hoverOpacity;
  }
  &.is_end{
    opacity: 1;
    @include FHA{
      opacity: $hoverOpacity;
    }
  }
}
