// -------------------------------------------------------------------
// Mixins
// -------------------------------------------------------------------

// MediaQuaries
// -------------------------------------------------------------------
@mixin MQ($breakpoint) {
  @if map-has-key($mediaQueries, $breakpoint) {
    @media #{inspect(map-get($mediaQueries, $breakpoint))} {
      @content;
    }
} @else {
    @warn "`#{$breakpoint}` is undefined";
  }
}

// Layouts
// -------------------------------------------------------------------

@mixin childCol($col:0, $gutter:0, $mq:true){
  $width: (100/$col);
  @if unit($gutter) == '%'{
    width: round-decimal(($width - ($gutter * ($col - 1) / $col)), 3);
    &:nth-of-type(#{$col}n){
      margin-right: 0;
    }
  } @else {
    $magicNumber: $gutter * ($col - 1) / $col;
    width: calc(#{$width}% - #{addPxUnit($magicNumber)});
    &:nth-of-type(#{$col}n){
      margin-right: 0;
    }
  }

  @if $mq{
    @include MQ(sm){
      width: 100%;
      margin-right: 0;
    }
  }
}


@mixin chilidCol__inline($display, $clearFloat:false){
  display: block;
  letter-spacing: -.55rem;
  text-align: left;

  .gr_col{
    @if $clearFloat{
      float: none;
    }
    display: $display;
    letter-spacing: normal;
    vertical-align: top;
  }
}

@mixin chilidCol__float(){
  display: block;

  &::before,
  &::after {
    content: ' ';
    display: table;
  }
  &::after {
    clear: both;
  }

  .gr_col{
    float: left;
    display: block;
  }
}

@mixin flex(){
  display: flex;
  flex-flow: row wrap;
  //justify-content: space-between;
  align-content: space-between;
  align-items: stretch;

  .gr_col{
    display: block;
  }
}
