/* トップページ
   ========================================================================== */
.un_topMV{
  padding-top: autoSpace(286, false, 5.8rem);
  padding-bottom: autoSpace(272, false, 2.4rem);
  background: url(#{$assetsRoot}/img/top/top-MV.png) center center no-repeat;
  background-size: cover;
  text-align: center;
  @include MQ(md){
    padding-top: autoSpace(250/2, false, 3.9rem, $sp_lh);
    padding-bottom: autoSpace(259/2, false, $sp_fz, $sp_lh);
    padding-top: 45%;
    padding-bottom: 40%;
    background-image: url(#{$assetsRoot}/img/top/top-MVback-sp.png);
  }

  &_inner{
    position: relative;
    padding-right: $contSpace;
    padding-left: $contSpace;
  }

  &_ttl{
    position: relative;
    z-index: 5;
    margin-bottom: autoSpace(23, false, 5.8rem);
    letter-spacing: .07em;
    font-family: $ff__en;
    font-size: 5.8rem;
    @include MQ(md){
      letter-spacing: normal;
      font-size: 8vw;
    }
  }

  &_txt{
    position: relative;
    z-index: 5;
    font-family: $ff__serif;
    font-size: 2.4rem;
    font-weight: $fw__bold;
    margin-top: - halfLineHeight(2.4rem);
    @include MQ(md){
      letter-spacing: normal;
      font-size: 4vw;
    }
  }

  &_img{
    display: none;
    @include MQ(md){
      display: block;
      width: 80%;
      opacity: 1!important;
      position: absolute;
      z-index: 2;
      top: -30vw;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }
}

.un_topBussiness{
  padding-top: autoSpace(83, false, $fz__h1);
  padding-bottom: 96px;
  background: url(#{$assetsRoot}/img/top/top-business-back.png) center center no-repeat;
  background-size: cover;
  @include MQ(md){
    padding-top: autoSpace(53, false, $sp_fz__h2, $sp_lh);;
    padding-bottom: 59px;
  }

  .el_pageTtl{
    margin-bottom: $sectSpace;
    @include MQ(md){
      margin-bottom: autoSpace(50, false, $sp_fz__h2, $sp_lh);
    }
  }

  &_desc{
    position: relative;
    width: 548px;
    height: 548px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    @include MQ(md){
      width: 90%;
      height: 90vw;
      margin-bottom: autoSpace(40, false, $sp_fz__xxxSmall, $sp_lh);
    }

    &_img{
      display: block;
    }

    &_txt{
      position: absolute;
      @include MQ(md){
        width: 48%;
        font-size: $sp_fz__xxxSmall;
      }

      &:nth-of-type(1){
        top: 0;
        left: -12vw;
        @include MQ(md){
          top: -15px;
          left: 0;
        }
      }
      &:nth-of-type(2){
        top: 0;
        right: -12vw;
        @include MQ(md){
          top: -15px;
          right: -6vw;
        }
      }
      &:nth-of-type(3){
        bottom: 10px;
        left: -12vw;
        @include MQ(md){
          top: 69vw;
          bottom: auto;
          left: 0;
        }
      }
      &:nth-of-type(4){
        bottom: 10px;
        right: -12vw;
        @include MQ(md){
          top: 69vw;
          bottom: auto;
          right: -6vw;
        }
      }

      dt{
        margin-bottom: autoSpace(23, true, $fz__xxxLarge);
        font-size: $fz__xxxLarge;
        font-weight: $fw__bold;
        @include MQ(md){
          font-size: 3.3vw;
        }
      }

      dd{
        @include MQ(md){
          font-size: 2.7vw;
        }
      }
    }
  }
}

.un_topCompany{
  padding-top: autoSpace(178, false, $fz__h1);
  padding-bottom: 175px;
  background: url(#{$assetsRoot}/img/top/top-company-back.jpg) center center no-repeat;
  background-size: cover;
  @include MQ(md){
    padding-top: autoSpace(125, false, $sp_fz__h2, $sp_lh);
    padding-bottom: 120px;
  }

  .el_pageTtl{
     margin-bottom: autoSpace(46, true, $fz__h1);
  }

  &_txt{
    display: block;
    margin-bottom: autoSpace(40);
    color: #fff;
  }
}

.un_topNews{
  padding-top: autoSpace(88, false, $fz__h1);
  padding-bottom: 86px;
  @include MQ(md){
    padding-top: autoSpace(57, false, $sp_fz__h2, $sp_lh);
    padding-bottom: 57px;
  }

  .el_pageTtl{
     margin-bottom: autoSpace(80, true, $fz__h1);
     @include MQ(md){
      margin-bottom: autoSpace(57, false, $sp_fz__h2, $sp_lh);
     }
  }

  .bl_postUnit{
    @include lastMB0();
    margin-bottom: 60px;
    @include MQ(md){
      margin-bottom: 50px;
    }
  }
}

.un_topSNS{
  padding-top: autoSpace(80, false, $fz__h1);
  padding-bottom: 103px;
  background: url(#{$assetsRoot}/img/top/top-sns-back.png) center center no-repeat;
  background-size: cover;
  @include MQ(md){
    padding-top: autoSpace(139, false, $sp_fz__h2, $sp_lh);
    padding-bottom: 135px;
    background-image: url(#{$assetsRoot}/img/top/top-sns-back-sp.png);
  }

  .el_pageTtl{
     margin-bottom: autoSpace(46, true, $fz__h1);
     @include MQ(md){
      margin-bottom: autoSpace(30, false, $sp_fz__h2, $sp_lh);
     }
  }

  &_txt{
    display: block;
    margin-bottom: autoSpace(40);
    color: #fff;
  }
}

.un_topBlog{
  padding-top: autoSpace(80, false, $fz__h1);
  padding-bottom: 80px;
  background-color: $baseColor;
  @include MQ(md){
    padding-top: autoSpace(53, false, $sp_fz__h2, $sp_lh);
    padding-bottom: 47px;
  }

  .el_pageTtl{
    margin-bottom: autoSpace(45, false, $fz__h1);
  }
}
