// -------------------------------------------------------------------
// Variables
// -------------------------------------------------------------------

// General
// -------------------------------------------------------------------

$breakpoint: 750;
$contSpaceValue: 15;
$contSpace: $contSpaceValue + px;
$innerContWidthValue: 1080;
$contWidthValue: $innerContWidthValue + $contSpaceValue * 2;
$contWidth: $contWidthValue + px;

//
//Media-query
//
$breakpoints: (
  'md': 'screen and (max-width: #{$breakpoint}px)',
  'md__rev': 'screen and (min-width: #{$breakpoint + 1}px)',
);
