// -------------------------------------------------------------------
// Variables
// -------------------------------------------------------------------

// General
// -------------------------------------------------------------------

// $fileRoot: '';
$fileRoot: '';
$assetsRoot: $fileRoot + '/assets';
$breakpoint: 750;
$contSpaceValue: 15;
$contSpace: $contSpaceValue + px;
$innerContWidthValue: 1080;
$contWidthValue: $innerContWidthValue + $contSpaceValue * 2;
$contWidth: $contWidthValue + px;

//
//Media-query
//
$breakpoints: (
  'md': 'screen and (max-width: #{$breakpoint}px)',
  'md__rev': 'screen and (min-width: #{$breakpoint + 1}px)',
);


// Color
// -------------------------------------------------------------------
$themeColor: #13007c;
$accentColor: #ef711d;
$baseColor: #f1f3f5;
//$borderColor: ;


// Space
// -------------------------------------------------------------------
$sectSpaceValue: 80;
$sectSpace: $sectSpaceValue + px;
$moduleSpaceValue: 70;
$moduleSpace: $moduleSpaceValue + px;

//
// sp
//
$sp_sectSpaceValue: 50;
$sp_sectSpace: $sp_sectSpaceValue + px;
$sp_moduleSpaceValue: 40;
$sp_moduleSpace: $sp_moduleSpaceValue + px;


// Interaction
// -------------------------------------------------------------------

//
//Opacity
//
$hoverOpacity: .5;

//
//Transition
//
$transSpeed: .25s;



// Text
// -------------------------------------------------------------------
$txtColor: #212121;

//
//Font-family
//
$ff__sans: "Noto Sans Japanese", sans-serif;
//$ff__serif: "Noto Serif Japanese", serif;
$ff__en: "Vollkorn", serif;

//
//Font-size
//
$fz__ss: 1.4rem;
$fz__s: 1.5rem;
$fz: 1.6rem;
$fz__l: 1.7rem;
$fz__ll: 1.8rem;
//Title等のサイズ
$fz__h3: 2.2rem;
$fz__h2: 2.8rem;
$fz__h1: 3.4rem;
//英数字見出し等のサイズ
$fz__AZ: 3rem;
//line-height
$lh: 1.8;


//SP
$sp_fz__ss: 1.2rem;
$sp_fz__s: 1.3rem;
$sp_fz: 1.4rem;
$sp_fz__l: 1.5rem;
$sp_fz__ll: 1.6rem;
//SP Title等
$sp_fz__h2: 2rem;
$sp_fz__h1: 2.7rem;
//英数字見出し等のサイズ
$sp_fz__AZ: 4.1rem;
//line-height
$sp_lh: 1.75;


//
//Font-weight
//ウェブフォントの場合はfamilyで指定を検討
//
$fw: 400;
$fw__bold: 500;


//
//Text-Shadow
//
//$txsh: ;


// Border
// -------------------------------------------------------------------
//$border: 1px solid $borderColor;


// Box-shadow
// -------------------------------------------------------------------
//$bxsh: ;
