@import '_vars';
@import '_functions';
@import '_mixins';

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

.ly_body {
  max-width: $contWidth;
  padding-right: $contSpace;
  padding-left: $contSpace;
  margin-right: auto;
  margin-left: auto;

  @include MQ(md) {
    max-width: 100%;
  }
}


/* ==========================================================================
  Base
  ========================================================================== */
@import '_base';


/* ==========================================================================
  Layout
  ========================================================================== */
@import '_grid';
