{% set inc_path = './' %}
{% import inc_path + "_vars.njk" as vars %}
{% import inc_path + "_macros.njk" as macros %}

{% block head %}
  {% include inc_path + "_head.njk" %}
{% endblock %}

{% block header %}
<body>
  {% include inc_path + "_header.njk" %}
{% endblock %}

<div class="ly_body">
{% block body %}{% endblock %}
</div>
<!-- /.ly_body -->

{% block footer %}
  {% include inc_path + "_footer.njk" %}
{% endblock %}
