{% set inc_path = './_inc/' %}
{% set page = {
  title: 'サブページのタイトル'
} %}

{% extends inc_path + "_base.njk" %}

{#{%- set unique_head = '' %}#}
{% block head %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block body %}
  {{ super() }}
  content here
{% endblock %}

{#{%- set unique_footer = '' %}#}
{% block footer %}
  {{ super() }}
{% endblock %}
