{% set inc_path = './_inc/' %}
{% set page = {
  title: 'トップ'
} %}

{% extends inc_path + "_base.njk" %}

{#{%- set unique_head = '' %}#}
{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
  {{ super() }}
  <h1 class="el_pageTtl">hoge</h1>
  <h2 class="el_sectTtl">fuga</h2>
  <p><span class="el_icon el_icon__pdf">contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent here</span></p>
  <p><span class="el_icon02 el_icon02__blank"><a>contentcontentcontentc here</a></span></p>
  <a class="el_btn" href="">me</a>

  <!-- /.ly_body -->
{% endblock %}

{#{%- set unique_footer = '' %}#}
{% block footer %}
  {{ super() }}
{% endblock %}
