{% set inc_path = './_inc/' %}
{% set page = {
  title: 'トップ'
} %}

{% extends inc_path + "_base.njk" %}

{#{%- set unique_head = '' %}#}
{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
  {{ super() }}
  content here


  <div class="gr_wrapper gr_wrapper__col4 cf">
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
      <a class="gr_col" href="https://www.google.co.jp/">
        <img src="http://placehold.jp/400x300.png?text=画像" alt="">
        <p style="text-align: center">
          タイトルが入ります
        </p>
      </a>
    </div>
    <!-- /.container -->


<br><br><br>
  {%- set col_num = 3 %}

  {%- if col_num == 3 %}
    {%- set class_name = 'col-lg-3' %}
  {%- elif col_num == 4 %}
    {%- set class_name = 'col-lg-4' %}
  {%- endif %}






  <!-- /.container -->


{% endblock %}

{#{%- set unique_footer = '' %}#}
{% block footer %}
  {{ super() }}
{% endblock %}
